:root {
    --light: #fff;
    --grey: #d9d9d9;
    --blue: #284B63;
    --teal: #3C6E71;
    --dark: #353535;
    --heading: 'Raleway', sans-serif;
    --paragraph: 'Merriweather', serif;
}

body {
    margin: 0;
    background-color: var(--light);
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--heading);
}

header {
    color: var(--light);
    font-size: 40px;
    text-align: left;
    padding: 24px;
    background: linear-gradient(var(--teal), var(--blue));
}

h1::after {
    content: '\1F322';
    margin-left: 12px;
}

p, label, input {
    font-family: var(--paragraph);
    color: var(--dark);
}