:root {
    --light: #fff;
    --grey: #d9d9d9;
    --blue: #284B63;
    --teal: #3C6E71;
    --dark: #353535;
    --heading: 'Raleway', sans-serif;
    --paragraph: 'Merriweather', serif;
}

body {
    margin: 0;
    background-color: var(--light);
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--heading);
}

header {
    color: var(--light);
    font-size: 40px;
    text-align: left;
    padding: 24px;
    background: linear-gradient(var(--teal), var(--blue));
}

h1::after {
    content: '\1F322';
    margin-left: 12px;
}

p, label, input {
    font-family: var(--paragraph);
    color: var(--dark);
}

aside {
    margin: 16px;
    text-align: center;
}

form {
    margin-bottom: 12px;
    padding: 16px;
    border: var(--teal) solid 2px;
    border-radius: 8px;
}

form label {
    font-size: 24px;
    padding: 8px;
}

#place {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 2px dashed var(--grey);
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 16px;
  }

#place:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--grey);
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 16px;
}

#submit {
    cursor: pointer;
    border: none;
    background-color: var(--blue);
    border-radius: 8px;
    font-size: 16px;
    color: var(--light);
    padding: 5px 12px;
  }